# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# build folders
build/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# misc
coverage/
